name: CI Playground

on:
  push:
    branches:
      - master


jobs:
  basic-check:
    runs-on: ubuntu-latest

    steps:

      - name: checkout code
        uses: actions/checkout@v4

      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install deps
        run: npm ci

      - name: start server and check health
        run: |
          node server.js &
          sleep 2
          curl -f http://localhost:3000/health 

      - name: Run fucntional test
        run: node test.js
        