name: deploy-pipeline

on:
  push:
    branches:
      - master


jobs:
  deploy:
    runs-on: ubuntu-latest


    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image with sha
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/backend:${{ github.sha }} .
        
      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/backend:${{ github.sha }} 


      - name: Deploy on EC2 via ssh
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e

            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/backend:${{ github.sha }}


            docker stop myapp || true
            docker rm myapp || true


            docker run -d \
              --name myapp \
              --label commit_sha=${{ github.sha }} \
              --label deployed_at $(date -u +"%Y-%m-%dT%H:%M:$SZ") \
              -p 3000:3000 \
              --restart unless-stopped \
              ${{ secrets.DOCKERHUB_USERNAME }}/backend:${{ github.sha }}